* {
  background: #ff5722;
}
html {
  position: relative;
  min-height: 100%;
  background: #ff5722;
  color: #fff;
}
a {
  color: #fff;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
h3 {
  color: white;
}
.badge-light {
  color: #ff5722;
  background-color: #f8f9fa;
}
p {
  color: #fff;
}
.white {
  color: #fff;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #ff5722;
}
.logo {
  margin: 0 auto;
  width: 180px;
}
.card {
  background-color: #ff5722;
}
.card {
}
.systems .card-img-top {
  max-height: 80px;
  width: 80%;
  margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background: #ff5722;
}
.banner {
  /* background: url("../images/bak.jpg");
  background-size: cover; */
  height: 100px;
  width: 100px;
}
